In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to change the path if needed.)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read the School Data and Student Data and store into a Pandas DataFrame
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# Cleaning Student Names and Replacing Substrings in a Python String
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

# Check names.
student_data_df.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84

In [2]:
# Determine if there are any missing values in the school data.
school_data_df.count()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [3]:
# Determine if there are any missing values in the student data.
student_data_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [4]:
# Determine if there are any missing values in the school data.
school_data_df.isnull().sum()

School ID      0
school_name    0
type           0
size           0
budget         0
dtype: int64

In [5]:
# Determine if there are any missing values in the student data.
student_data_df.isnull().sum()

Student ID       0
student_name     0
gender           0
grade            0
school_name      0
reading_score    0
math_score       0
dtype: int64

In [6]:
# Determine if there are not any missing values in the school data.
school_data_df.notnull().sum()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [7]:
# Determine if there are not any missing values in the student data.
student_data_df.notnull().sum()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [8]:
#Determine data types for the school DataFrame
school_data_df.dtypes

School ID       int64
school_name    object
type           object
size            int64
budget          int64
dtype: object

In [9]:
#Determine data types for the student DataFrame
student_data_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [11]:
#Calculate passing math grades & add to new DF
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
passing_math.head()
passing_math["student_name"].count()

NameError: name 'school_data_complete_df' is not defined

In [ ]:
#Calculate passing reading grades & add to new DF
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]
passing_reading.head()

In [ ]:
#Calculate # of passing students
passing_reading_count = passing_reading["student_name"].count()
passing_math_count = passing_math["student_name"].count()

print(passing_reading_count)
print(passing_math_count)

In [21]:
#Calculate % of passing for math & reading
passing_reading_percentage = passing_reading_count / student_count * 100
passing_math_percentage = passing_math_count / student_count * 100

print(passing_reading_percentage)
print(passing_math_percentage)

NameError: name 'passing_reading_count' is not defined

In [ ]:
# Calculate the students who passed both math and reading.

passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]
passing_math_reading.head()

In [ ]:
#Count how many students passed math & reading. Alt opt: passing_math_reading.student_name.count()
overall_passing_math_reading_count = passing_math_reading["student_name"].count()
overall_passing_math_reading_count

In [ ]:
#Calculate % of passing students
overall_passing_percentage = overall_passing_math_reading_count / student_count * 100
overall_passing_percentage

In [ ]:
#Adding a list of values with keys to create a new DataFrame
district_summary_df = pd.DataFrame(
    [{"Total Schools": school_count,
      "Total Students": student_count,
      "Total Budget": total_budget,
      "Average Math Score": average_math_score,
      "Average Reading Score": average_reading_score,
      "% Passing Math": passing_math_percentage,
      "% Passing Reading": passing_reading_percentage,
      "Overall Passing %": overall_passing_percentage,
     }])
district_summary_df

In [ ]:
#Format the "Total Students" to have a comma separator
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Students"]

In [ ]:
#Format the "Total Budget" with dollar sign, 2 decimals & comma
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
district_summary_df["Total Budget"]

In [ ]:
#Format average reading and math scores with 1 decimal
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)

#Format all % to no decimals
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}%".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}%".format)
district_summary_df["Overall Passing %"] = district_summary_df["Overall Passing %"].map("{:.0f}%".format)

#display district_summary_df 
district_summary_df

In [ ]:
district_summary_df.dtypes

In [ ]:
#Determine the school type
#Use set_index to set column "school_name" as the index & only list type of school
per_school_types = school_data_df.set_index(["school_name"])["type"]
per_school_types

In [ ]:
#Convert the per_school_types series into a DataFrame for testing
df = pd.DataFrame(per_school_types)
df

In [ ]:
#Calculate the total student count

#Check school_data_df to see if the school_name is the index
#per_school_counts = school_data_df["size"] >>> displays index as 0, then count, replace with below

#Set school_name as the index >>> displays school name, then count
per_school_counts = school_data_df.set_index(["school_name"])["size"]
per_school_counts

In [ ]:
#alt version to above. Go through each row and find each time a school_name is used
#Calculate the total student count via school_data_complete_df
per_school_counts = school_data_complete_df["school_name"].value_counts()
per_school_counts

In [ ]:
#Calculate the budget per school
per_school_budget = school_data_df.set_index(["school_name"])["budget"]
per_school_budget

In [ ]:
#Calculate the budget per student
per_school_capita = per_school_budget / per_school_counts
per_school_capita

In [ ]:
#Determine the average math score
#Set the school name as index
#Set math_score as next col
student_school_math = student_data_df.set_index(
    ["school_name"])["math_score"]
student_school_math

In [ ]:
#Calculate average score per school
#Group by School name to get total score by school
per_school_averages = school_data_complete_df.groupby(["school_name"]).mean()
per_school_averages

In [ ]:
#Alt way to calculate above
#Calculate the average test scores & put into 2 series
per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]

per_school_math

In [ ]:
#Calculate the passing percentages of math and reading per school
 # 1. Determine what is the passing grade. 
    #Use same code as "passing_math" but reassign to new variable
 # 2. Get the number of students who passed math and reading. 
    #Use same code as "passing_math_count" but reassign to new variable
    #passing_math_count = passing_math["student_name"].count()
 # 3. Get the students who passed math and passed reading
    #Use same code as "overall_passing_math_reading_count" but reassign to new variable
    #overall_passing_math_reading_count = passing_math_reading["student_name"].count()

In [ ]:
#Calculate passing scores by creating a filtered DF
per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]

per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]

per_school_passing_math.head()

In [ ]:
#Calculate total passing scores by grouping
per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]

per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]

per_school_passing_math

In [ ]:
#Calculate average passing scores
per_school_passing_math = per_school_passing_math / per_school_counts * 100
per_school_passing_reading = per_school_passing_reading / per_school_counts * 100

per_school_passing_math

In [ ]:
#Calculate the students who passed both math and reading

per_passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]
per_passing_math_reading

In [ ]:
#Group & count the # of students who have passed both math & reading
per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]
per_passing_math_reading

In [ ]:
# Calculate the overall passing percentage.
per_overall_passing_percentage = per_passing_math_reading / per_school_counts * 100
per_overall_passing_percentage

In [ ]:
#Create a list of values and keys to create a new DF
per_school_summary_df = pd.DataFrame({
    "School Types": per_school_types,
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "% Passing Math": per_school_passing_math,
    "% Passing Reading": per_school_passing_reading,
    "% Overall Passing": per_overall_passing_percentage
})

per_school_summary_df.head()

In [ ]:
#Apply formatting to cells >> "{value:format specification}".format(value)
#per_school_summary_df[""] = per_school_summary_df[""].map("{:}".format)
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)
per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)

per_school_summary_df.head()

In [ ]:
#Sort per_school_summary_df by best % passing & show first 5 rows (head)
top_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending=False)
top_schools.head()

In [ ]:
#Sort per_school_summary_df by worst % passing & show first 5 rows (head)
#Can leave off the ascending = True, this is the default
bottom_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending=True)
bottom_schools.head()

In [ ]:
#Filter school_data_complete_df by grade
ninth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "9th")]
tenth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "10th")]
eleventh_graders = school_data_complete_df[(school_data_complete_df["grade"] == "11th")]
twelfth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "12th")]

ninth_graders

In [ ]:
#Group by school_name for each grade level & Calculate the average scores per grade per school. Creates a series
ninth_grade_math_scores = ninth_graders.groupby(["school_name"]).mean()["math_score"]
tenth_grade_math_scores = tenth_graders.groupby(["school_name"]).mean()["math_score"]
eleventh_grade_math_scores = eleventh_graders.groupby(["school_name"]).mean()["math_score"]
twelfth_grade_math_scores = twelfth_graders.groupby(["school_name"]).mean()["math_score"]

eleventh_grade_math_scores

In [ ]:
#Group by school_name for each grade level & Calculate the average scores per grade per school. Creates a series
ninth_grade_reading_scores = ninth_graders.groupby(["school_name"]).mean()["reading_score"]
tenth_grade_reading_scores = tenth_graders.groupby(["school_name"]).mean()["reading_score"]
eleventh_grade_reading_scores = eleventh_graders.groupby(["school_name"]).mean()["reading_score"]
twelfth_grade_reading_scores = twelfth_graders.groupby(["school_name"]).mean()["reading_score"]

twelfth_grade_reading_scores

In [ ]:
#Combine Series into DF for math

math_scores_by_grade = pd.DataFrame({
    "9th": ninth_grade_math_scores,
    "10th": tenth_grade_math_scores,
    "11th": eleventh_grade_math_scores,
    "12th": twelfth_grade_math_scores
})

math_scores_by_grade.head()

In [ ]:
#Combine Series into DF for reading

reading_scores_by_grade = pd.DataFrame({
    "9th": ninth_grade_reading_scores,
    "10th": tenth_grade_reading_scores,
    "11th": eleventh_grade_reading_scores,
    "12th": twelfth_grade_reading_scores
})

reading_scores_by_grade.head()

In [ ]:
#Apply formatting to cells for math
math_scores_by_grade["9th"] = math_scores_by_grade["9th"].map("{:.1f}".format)
math_scores_by_grade["10th"] = math_scores_by_grade["10th"].map("{:.1f}".format)
math_scores_by_grade["11th"] = math_scores_by_grade["11th"].map("{:.1f}".format)
math_scores_by_grade["12th"] = math_scores_by_grade["12th"].map("{:.1f}".format)

#Put columns in right order
math_scores_by_grade = math_scores_by_grade[
    ["9th","10th","11th","12th"]]

#Remove index name from column header
math_scores_by_grade.index.name = None

math_scores_by_grade.head()

In [ ]:
#Apply formatting to cells for reading
reading_scores_by_grade["9th"] = reading_scores_by_grade["9th"].map("{:.1f}".format)
reading_scores_by_grade["10th"] = reading_scores_by_grade["10th"].map("{:.1f}".format)
reading_scores_by_grade["11th"] = reading_scores_by_grade["11th"].map("{:.1f}".format)
reading_scores_by_grade["12th"] = reading_scores_by_grade["12th"].map("{:.1f}".format)

#Put columns in right order
reading_scores_by_grade = reading_scores_by_grade[
    ["9th","10th","11th","12th"]]

#Remove index name from column header
reading_scores_by_grade.index.name = None

reading_scores_by_grade.head()

In [ ]:
#Get descriptive stats on per_school_capita
per_school_capita.describe()

In [ ]:
#Create bins based on spend per student
spending_bins = [0,585,630,645,675]
#pd.cut will assign to proper bucket, then group them
per_school_capita.groupby(pd.cut(per_school_capita, spending_bins)).count()

#Name the buckets
group_names = ["<$584","$585-629","$630-644","$645-675"]

In [ ]:
per_school_summary_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, spending_bins, labels=group_names)
per_school_summary_df

In [ ]:
#Create 4 new Series based on Spending with avg math, reading, % pass math, % pass read, overall % pass
spending_math_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]

spending_reading_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]

spending_passing_math = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]

spending_passing_reading = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]

overall_passing_spending = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

In [ ]:
#Assemble into a DF
spending_summary_df = pd.DataFrame({
    "Average Math Score": spending_math_scores,
    "Average Reading Score": spending_reading_scores,
    "% Passing Math": spending_passing_math,
    "% Passing Reading": spending_passing_reading,
    "% Overall Passing": overall_passing_spending
})

spending_summary_df

In [ ]:
#Apply formatting to cells >> "{value:format specification}".format(value)
spending_summary_df["Average Math Score"] = spending_summary_df["Average Math Score"].map("{:.1f}".format)
spending_summary_df["Average Reading Score"] = spending_summary_df["Average Reading Score"].map("{:.1f}".format)
spending_summary_df["% Passing Math"] = spending_summary_df["% Passing Math"].map("{:.0f}".format)
spending_summary_df["% Passing Reading"] = spending_summary_df["% Passing Reading"].map("{:.0f}".format)
spending_summary_df["% Overall Passing"] = spending_summary_df["% Overall Passing"].map("{:.0f}".format)

spending_summary_df.head()

In [ ]:
per_school_counts.describe()

#Create bins based on # of students
size_bins = [0,1000,2000,5000]

#Name the buckets
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

#pd.cut will assign to proper bucket, then group them
#per_school_counts.groupby(pd.cut(per_school_counts, size_bins)).count() >> check to see if the volume per group is good

# Categorize spending based on the bins.
per_school_summary_df["School Size"] = pd.cut(per_school_summary_df["Total Students"], size_bins, labels=group_names)
    #Add new column "School Size"
    #Use cut() on "Total Students" & group based on size_bins, then add new labels to School Size

per_school_summary_df.head()

In [ ]:
#Create 4 new Series based on Size with avg math, reading, % pass math, % pass read, overall % pass
size_math_scores = per_school_summary_df.groupby(["School Size"]).mean()["Average Math Score"]

size_reading_scores = per_school_summary_df.groupby(["School Size"]).mean()["Average Reading Score"]

size_passing_math = per_school_summary_df.groupby(["School Size"]).mean()["% Passing Math"]

size_passing_reading = per_school_summary_df.groupby(["School Size"]).mean()["% Passing Reading"]

size_overall_passing = per_school_summary_df.groupby(["School Size"]).mean()["% Overall Passing"]

In [ ]:
#Assemble into a DF
size_summary_df = pd.DataFrame({
    "Average Math Score": size_math_scores,
    "Average Reading Score": size_reading_scores,
    "% Passing Math": size_passing_math,
    "% Passing Reading": size_passing_reading,
    "% Overall Passing": size_overall_passing
})

size_summary_df

In [ ]:
#Apply formatting to cells >> "{value:format specification}".format(value)
size_summary_df["Average Math Score"] = size_summary_df["Average Math Score"].map("{:.1f}".format)
size_summary_df["Average Reading Score"] = size_summary_df["Average Reading Score"].map("{:.1f}".format)
size_summary_df["% Passing Math"] = size_summary_df["% Passing Math"].map("{:.0f}".format)
size_summary_df["% Passing Reading"] = size_summary_df["% Passing Reading"].map("{:.0f}".format)
size_summary_df["% Overall Passing"] = size_summary_df["% Overall Passing"].map("{:.0f}".format)

size_summary_df.head()

In [ ]:
# Calculate averages for the desired columns.

type_math_scores = per_school_summary_df.groupby(["School Types"]).mean()["Average Math Score"]
type_reading_scores = per_school_summary_df.groupby(["School Types"]).mean()["Average Reading Score"]
type_passing_math = per_school_summary_df.groupby(["School Types"]).mean()["% Passing Math"]
type_passing_reading = per_school_summary_df.groupby(["School Types"]).mean()["% Passing Reading"]
type_overall_passing = per_school_summary_df.groupby(["School Types"]).mean()["% Overall Passing"]

#Assemble into a DF
type_summary_df = pd.DataFrame({
    "Average Math Score": type_math_scores,
    "Average Reading Score": type_reading_scores,
    "% Passing Math": type_passing_math,
    "% Passing Reading": type_passing_reading,
    "% Overall Passing": type_overall_passing
})

type_summary_df

In [ ]:
#Apply formatting to cells
type_summary_df["Average Math Score"] = type_summary_df["Average Math Score"].map("{:.1f}".format)
type_summary_df["Average Reading Score"] = type_summary_df["Average Reading Score"].map("{:.1f}".format)
type_summary_df["% Passing Math"] = type_summary_df["% Passing Math"].map("{:.0f}".format)
type_summary_df["% Passing Reading"] = type_summary_df["% Passing Reading"].map("{:.0f}".format)
type_summary_df["% Overall Passing"] = type_summary_df["% Overall Passing"].map("{:.0f}".format)

type_summary_df.head()

## Deliverable 1: Replace the reading and math scores.
### Replace the 9th grade reading and math scores at Thomas High School with NaN.¶

In [13]:
# Install numpy using conda install numpy or pip install numpy. 
# Step 1. Import numpy as np.
import numpy as np

In [14]:
# Step 2. Use the loc method on the student_data_df to select all the reading scores from the 9th grade at Thomas High School and replace them with NaN.
student_data_df.loc[(student_data_df["school_name"] == "Thomas High School") &
                   (student_data_df["grade"] == "9th"),
                   ["reading_score"]] = np.nan

student_data_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66.0,79
1,1,Victor Smith,M,12th,Huang High School,94.0,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90.0,60
3,3,Richard Scott,M,12th,Huang High School,67.0,58
4,4,Bonnie Ray,F,9th,Huang High School,97.0,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99.0,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95.0,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,NaN,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99.0,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95.0,75

In [15]:
#  Step 3. Refactor the code in Step 2 to replace the math scores with NaN.
student_data_df.loc[(student_data_df["school_name"] == "Thomas High School") &
                    (student_data_df["grade"] == "9th"),
                    ["math_score"]] = np.nan

student_data_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66.0,79.0
1,1,Victor Smith,M,12th,Huang High School,94.0,61.0
2,2,Kevin Rodriguez,M,12th,Huang High School,90.0,60.0
3,3,Richard Scott,M,12th,Huang High School,67.0,58.0
4,4,Bonnie Ray,F,9th,Huang High School,97.0,84.0
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99.0,90.0
39166,39166,Dawn Bell,F,10th,Thomas High School,95.0,70.0
39167,39167,Rebecca Tanner,F,9th,Thomas High School,NaN,NaN
39168,39168,Desiree Kidd,F,10th,Thomas High School,99.0,90.0
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95.0,75.0

In [16]:
#  Step 4. Check the student data for NaN's. 
student_data_df.tail(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
39160,39160,Katie Weaver,F,11th,Thomas High School,89.0,86.0
39161,39161,April Reyes,F,10th,Thomas High School,70.0,84.0
39162,39162,Derek Weeks,M,12th,Thomas High School,94.0,77.0
39163,39163,John Reese,M,11th,Thomas High School,90.0,75.0
39164,39164,Joseph Anthony,M,9th,Thomas High School,NaN,NaN
39165,39165,Donna Howard,F,12th,Thomas High School,99.0,90.0
39166,39166,Dawn Bell,F,10th,Thomas High School,95.0,70.0
39167,39167,Rebecca Tanner,F,9th,Thomas High School,NaN,NaN
39168,39168,Desiree Kidd,F,10th,Thomas High School,99.0,90.0
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95.0,75.0

## Deliverable 2 : Repeat the school district analysis

### District Summary

In [17]:
#Combine the data into a single dataset
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66.0,79.0,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94.0,61.0,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90.0,60.0,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67.0,58.0,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97.0,84.0,0,District,2917,1910635

In [18]:
# Calculate the Totals (Schools and Students)
school_count = len(school_data_complete_df["school_name"].unique())
student_count = school_data_complete_df["Student ID"].count()

# Calculate the Total Budget
total_budget = school_data_df["budget"].sum()

In [19]:
# Calculate the Average Scores using the "clean_student_data".
average_reading_score = school_data_complete_df["reading_score"].mean()
average_math_score = school_data_complete_df["math_score"].mean()

In [20]:
# Step 1. Get the number of students that are in ninth grade at Thomas High School.
# These students have no grades. 
thomas_9th = student_data_df.isnull().sum()

# Get the total student count 
student_count = school_data_complete_df["Student ID"].count()

# Step 2. Subtract the number of students that are in ninth grade at 
# Thomas High School from the total student count to get the new total student count.
student_count_revised = student_count - thomas_9th
student_count_revised

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    38709
math_score       38709
dtype: int64

### School Summary

### High and Low Performing Schools

### Math and Reading Scores by Grade

### Scores by School Spending

### Scores by School Size